/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2016, 4:43:12 PM
    Author     : Henrikas
*/
.services-table {
    border: 0px solid gray;
}

td, th {
    margin: 0;
    border: 1px solid gray;
    padding: 0.4em;
}

.window-content {
    display: inline;
    margin: 10px;
}

.window-menu {
    float: left;
    display: inline;
}

